@tailwind base;
@tailwind components;
@tailwind utilities;

button > img:hover {
  transform: translateY(-2px);
  transition: 200ms;
}

button > img:active {
  transform: translateY(0px);
}

:root {
  --bg-btn: #fed7d7;
  --btn-color: #e53e3e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color, #ad4043);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: var(--background-color, #333333);
  }
}
